.header {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d4848;
  color: #fff;
  border-radius: 16px;
}

.linkWrapper {
  margin-top: 30px;
  gap: 15px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.linkButton {
  padding: 8px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #eee;
  border-radius: 10px;
  text-decoration: none;
}
